*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: text_font;
    src: url("AnnieUseYourTelescope.ttf");
}

body{
    font-family: text_font, sans-serif;
    background-color: #ffa481;
    font-size: 25px;
}

.main{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.main-text{
    color: #FFFD9D;
    font-size: 38px;
    margin-top: 25px;
}

.project-tile{
    background-color: #FFFD9D;
    border-radius: 20px;
    color:#f77272;
    width:45%;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 40px;
    text-align: center;
}

.tile-title{
    font-size: 33px;
}

.input-bar{
    width: 60%;
    height: 40px;
    border-radius: 20px;
    border: 3px solid #ffa481;
    background-color: #FFFD9D;
    text-align: center;
    font-family: text_font, sans-serif;
    font-size: 25px;
    color: #f77272;
}

.input-bar:focus{
    outline: none;
    background-color: #fffec5;
}

.result-button{
    width: 40%;
    aspect-ratio: 2/1;
    border-radius: 20px;
    border: 3px solid #ffa481;
    background-color: #FFFD9D;
    color: #f77272;
    font-family: text_font, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

.result-button:hover{
    background-color: #fffec5;
}

@media (max-width:830px) {
    
    .main-text{
        font-size: 30px;
        text-align: center;
    }

    .project-tile{
        width:70%;
    }

    .result-button{
        margin-top: 20px;
        width: 60%;
        aspect-ratio: 3/1;
    }

}

@media (max-width:580px) {
    
    .result-button{
        font-size: 18px;
    }

}